<!--source qui a aidé à faire les graphiques = https://travishorn.com/stacked-bar-chart-with-chart-js-846ebdf11c4e-->
<!-- le lien vers la source du template de cette interface se trouve tout en bas du code ou tout en bas de la page web-->

<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
body {font-family: "Times New Roman", Georgia, Serif;}
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
}
</style>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
    <a href="#home" class="w3-bar-item w3-button">La Ferme des Trois Chênes</a>
    <!-- Right-sided navbar links. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="#Bienvenue" class="w3-bar-item w3-button">Bienvenue</a>
      <a href="#Question1" class="w3-bar-item w3-button">Question1</a>
      <a href="#Question2" class="w3-bar-item w3-button">Question2</a>
      <a href="#Question3" class="w3-bar-item w3-button">Question3</a>
      <a href="#Question4" class="w3-bar-item w3-button">Question4</a>
    </div>
  </div>
</div>

<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:500px" id="home">
  <img class="w3-image" src="https://media1.ledevoir.com/images_galerie/nwd_678206_522306/image.jpg" alt="Photo De Vaches" width="1600" height="800">
  <div class="w3-display-bottomleft w3-padding-large ">
    <h1 class="w3-xxlarge">La Ferme des Trois Chênes</h1>
  </div>
</header>

<!-- Page content -->
<div class="w3-content" style="max-width:1100px">

  <!-- Bienvenue Section -->
  <div class="w3-row w3-padding-64" id="Bienvenue">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="https://assets.letemps.ch/sites/default/files/media/2016/08/17/vache.jpg" class="w3-round w3-image " alt="Table Setting" width="600" height="750">
    </div>

    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">Bienvenue</h1><br>
      <h5 class="w3-center">Une ferme avec des valeurs</h5>
      <p class="w3-large">Mr. et Mme. Verhaeghe de la Ferme des Trois Chênes sont des éléveurs passionés.
            Ils souhaitent s'occuper au mieux de leur vaches afin de garantir leur bien-être et par la même occasion maximiser leurs profits.
            C'est donc tout naturellement que M. et Mme. Verghaehe nous ont contactés, dans le but d'avoir plus de précisions à propos de leur ferme.
            Ils se posaient quelques questions concernant des sujets variés, comme par exemple:
             Est-ce vrai qu'il y a plus de naissances lors des pleines lunes?
             Y a-t-il une famille de vache particulière chez laquelle les veaux meurent plus souvent prématurément?
             Y a-t-il un moment particulier durant l’année lors duquel il y a plus de cas de veaux mort-nés?
             Ou encore, quelle est la répartition des vêlages durant l'année?
             Nous nous efforcerons de répondre à toutes ces questions sur cette page!
    </div>
  </div>

  <hr>

   <!-- Question1 -->
  <div class="w3-container w3-padding-64" id="Question1">
    <h1>Question1</h1><br>
    <h4>Naissances de veaux lors de la pleine lune.</h4>
    <p>Une croyance populaire chez certains éleveurs est que les naissances arrivent plus souvent à la pleine lune.
                Nous allons voir si cela est véridique ou non.
    </form>

  </div>
  <hr>


<!-- Graphique du 1.1 -->
<canvas id="chart1"></canvas>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js"></script>
<script>
var ctx = document.getElementById('chart1');
var myChart = new Chart(ctx, {
  type: 'bar',
  data: {labels: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28'],
  datasets: [{
    label: 'Nombres de vaches mortes prématurément',
    data: {{ PourcentageVelagePleineLune|tojson }},
    backgroundColor:'rgb(10,70,10)' // turquoise
  },
  ]},
  options: {scales: {
    xAxes: [{ stacked: true }],
    yAxes: [{ stacked: true }]
  }}
});
</script>


  <!-- Question2 -->
  <div class="w3-container w3-padding-64" id="Question2">
    <h1>Question2</h1><br>
    <h4>Les familles de vaches qui ont le plus de décès prématurés.</h4>
    <p>En effet, il y a parfois des veaux qui meurent dans leurs premières semaines de vie, on parle alors de décès prématurés. Cela est très triste, et nous voulont minimiser ce genre de cas, c'est pourquoi nous essayons d'en trouver la cause.
     </form>
      </div>
 <hr>


 <!-- Graphique du 4.2. -->
 <canvas id="chart"></canvas>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js"></script>
<script>
var ctx = document.getElementById('chart');
var myChart = new Chart(ctx, {
  type: 'bar',
  data: {labels: {{ f|tojson }},
  datasets: [{
    label: 'Nombres de vaches mortes prématurément',
    data: {{ m|tojson }},
    backgroundColor:'rgb(100,0,100)' // violet
  },
  {
    label: 'Nombre de vaches vivantes',
    data: {{ v|tojson }},
    backgroundColor: 'rgb(255,159,64)' // orange
  }

  ]},
  options: {scales: {
    xAxes: [{ stacked: true }],
    yAxes: [{ stacked: true }]
  }}
});
</script>


   <!-- Question3 -->
  <div class="w3-container w3-padding-64" id="Question3">
    <h1>Question3</h1><br>
    <h4>Nombre de veaux mort-nés durant l'année.</h4>
    <p>Il arrive malheureusement qu’un veau soit mort-né. Cela veut dire qu'au moment de sa naissance, il est déjà mort.

    </form>
  </div>
   <hr>

<!-- Graphique du 3.1. -->
<canvas id="chart2"></canvas>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js"></script>
<script>
var ctx = document.getElementById('chart2');
var myChart = new Chart(ctx, {
  type: 'bar',
  data: {labels: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Aout', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
  datasets: [{
    label: 'Nombres de vaches mortes prématurément',
    data: {{ n|tojson }},
    borderColor: 'rgb(16,229,135)',
    backgroundColor: 'rgba(24,112,65,0.5)'
  },
  ]},
  options: {scales: {
    xAxes: [{ stacked: true }],
    yAxes: [{ stacked: true }]
  }}
});
</script>


   <!-- Question4 -->
  <div class="w3-container w3-padding-64" id="Question4">
    <h1>Question4</h1><br>
    <h4>Répartition des vélages durant l'année. </h4>
    <p>Une vache fait généralement son premier veau à l’âge de 2 ans.
                Avant ce premier veau, elle n’est pas encore économiquement utile, puisqu’elle ne produit pas encore de lait.Une exploitation cherche généralement à garder ses vaches le plus longtemps possible, pour maximiser le nombre de lactations (une lactation correspond à un vêlage).
    </form>
  </div>
   <hr>

<!-- Graphique du 2.-->
<canvas id="chart3"></canvas>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js"></script>
<script>
var ctx = document.getElementById('chart3');
var myChart = new Chart(ctx, {
  type: 'bar',
  data: {labels: {{ VelageX|tojson }} ,
  datasets: [{
    label: 'Nombre de velages',
    data: {{ VelageS|tojson }},
    borderColor: 'rgb(179,13,13)',
      backgroundColor: 'rgb(157,54,54)'
  },

  ]},
  options: {scales: {
    xAxes: [{ stacked: true }],
    yAxes: [{ stacked: true }]
  }}
});
</script>

<!-- End page content -->
</div>

<!-- Footer -->
<footer class="w3-center w3-light-grey w3-padding-32">
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
</footer>

</body>
</html>
